name: Cross-compile Rust

on:
  push:
    tags:
      - 'v*'
  pull_request:

jobs:
  build:
    name: Build for multiple targets
    runs-on: ubuntu-latest

    strategy:
      matrix:
        target:
          - x86_64-pc-windows-gnu
          - x86_64-unknown-linux-gnu
          - armv7-unknown-linux-gnueabihf
          - aarch64-unknown-linux-gnu

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run cross build
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: build
          target: ${{ matrix.target }}
          args: "--release --locked"
          strip: true

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: "my-app-${{ matrix.target }}"
          path: target/${{ matrix.target }}/release/
